/*
  Copyright 2023 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/

@import url("/static/css/display_overlay_shared.css");

#overlayCentering {
  top: -200px;
}

#message {
  position: absolute;
  display: none;
  opacity: 0;
  top: 130px;
  font-size: 1.4vw;
  font-family: "FuturaLTBold";
  color: #fff;
}
