{{/*
Copyright 2014 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)
Author: ian@yann.io (Ian Thompson)

UI for entering realtime scores.
*/}}
{{define "title"}}Scoring Panel{{end}}
{{define "body"}}
<header id="banner">
  <div class="screen-title">{{.Position.Title}} - <span id="matchName">&nbsp;</span></div>
</header>
<main>
  {{$teamCount := 3}}{{if .TwoVsTwoMode}}{{$teamCount = 2}}{{end}}
  {{if .Position.ShowsNear}}
  <section id="nearControls">
    <h2>Auto</h2>
    <div class="counter-group">
      {{template "counterRow" dict "id" "auto_floor" "label" "Auto Floor"}}
      {{template "counterRow" dict "id" "auto_first" "label" "Auto First"}}
      {{template "counterRow" dict "id" "auto_top" "label" "Auto Top"}}
    </div>
    <h2>Teleop + Endgame</h2>
    <div class="counter-group">
      {{template "counterRow" dict "id" "teleop_floor" "label" "Floor"}}
      {{template "counterRow" dict "id" "teleop_first" "label" "First"}}
      {{template "counterRow" dict "id" "teleop_top" "label" "Top"}}
      {{template "counterRow" dict "id" "teleop_stacked" "label" "Stacked"}}
    </div>
  </section>
  {{end}}
  {{if .Position.ShowsFar}}
  <section id="farControls">
    <h2>Auto</h2>
    <div class="robot-group">
      {{range $i := seq $teamCount}}
      <div class="robot-control">
        <div class="robot-team" id="team-{{$i}}">&nbsp;</div>
        <button id="leave-{{$i}}" class="toggle-button scoring-button" ontouchstart disabled
          onclick="toggleLeave({{$i}});">Leave</button>
        <button id="auto_balance-{{$i}}" class="toggle-button scoring-button" ontouchstart disabled
          onclick="toggleAutoBalance({{$i}});">Auto Balance</button>
      </div>
      {{end}}
    </div>
    <h2>Endgame</h2>
    <div class="robot-group">
      {{range $i := seq $teamCount}}
      <div class="robot-control">
        <div class="robot-team" id="endgameTeam-{{$i}}">&nbsp;</div>
        <div id="endgame-{{$i}}" class="endgame-button-group" data-value="0">
          <button class="endgame-button scoring-button" ontouchstart disabled
            onclick="setEndgame({{$i}}, 0);">None</button>
          <button class="endgame-button scoring-button" ontouchstart disabled
            onclick="setEndgame({{$i}}, 1);">Park</button>
          <button class="endgame-button scoring-button" ontouchstart disabled
            onclick="setEndgame({{$i}}, 2);">Balance</button>
        </div>
      </div>
      {{end}}
    </div>
    <h2>The Toss</h2>
    <div class="toss-group">
      <button id="toss" class="toggle-button scoring-button" ontouchstart disabled onclick="toggleToss();">Toss</button>
    </div>
  </section>
  {{end}}
  <div id="panel-actions">
    <button id="commit" onclick="commitMatchScore();" ontouchstart disabled>Commit</button>
  </div>
</main>
{{end}}

{{define "head"}}
<link rel="manifest" href="/static/manifest/{{.PositionName}}_scoring.manifest">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link href="/static/css/scoring_panel.css" rel="stylesheet">
{{end}}
{{define "script"}}
<script src="/static/js/match_timing.js"></script>
<script src="/static/js/scoring_panel.js"></script>
{{end}}

{{define "counterRow"}}
<div class="counter-row">
  <div class="counter-label">{{.label}}</div>
  <button class="counter-button scoring-button" ontouchstart disabled onclick="adjustCounter('{{.id}}', -1);">&minus;</button>
  <div class="counter-value" id="value-{{.id}}">0</div>
  <button class="counter-button scoring-button" ontouchstart disabled onclick="adjustCounter('{{.id}}', 1);">+</button>
  <button id="crown-{{.id}}" class="crown-button scoring-button" ontouchstart disabled onclick="toggleCrown('{{.id}}');">Crown</button>
</div>
{{end}}
